html
    title Movie Rentals

    script
        include ../public/home-pug.js

    style
        include ../public/home-pug.css

    body    

        div#navBar
            if isLoggedIn
                button#logoutBtn.navBtns Logout
            else
                button#loginBtn.navBtns Login
            
            if isAdmin
                button#adminPage.navBtns Admin Page
            

        #allMovies
            each movieData in all_movies
                - const isRenting = all_movies.includes(movieData._id) 
                if movieData.inventory.available > 0 || isRenting
                    .Movie(id=movieData._id title=movieData.title)
                        .displayMovie
                            h1=movieData.title
                            h3=movieData.release
                            img(src=movieData.img, alt=`${movieData.title} Poster IMG`)
                            a(href=movieData.imdb_link)=`${movieData.title} IMDB Page`
                        if isAdmin
                            .editMovie
                                - const currentYear = new Date().getFullYear();
                                form(onSubmit='return false')
                                    input(type='text', placeholder='Title', name='title')
                                    input(type='number', placeholder='Release Year', name='release', min=currentYear-100, max=currentYear+2)
                                    input(type='url', placeholder='Movie Poster URL', name='img')
                                    input(type='url', placeholder='IMDB Link', name='imdb_link')
                                    button.submitEdit Submit Changes
                            .adminBtns
                                button.deleteMovie Delete From Database
                                button.editMovieBtn Edit Movie Data
                        else 
                            if isLoggedIn
                                - const btnText = isRenting ? `Rent ${movieData.title}` : `Return ${movieData.title}`;
                                button.rentMovie=btnText
                            else 
                                h6 Login in to rent this movie


